<div class="flex flex-wrap items-center justify-center overflow-hidden h-max">
  <h2 class="text-sky-900">
    more example at
    <a href="https://www.learnrxjs.io/learn-rxjs/operators" target="_blank"
      >https://www.learnrxjs.io/learn-rxjs/operators</a
    >
  </h2>
  <nz-space nzWrap="true">
    <button nz-button nzType="primary" class="m-3 w-32" (click)="fromOp()">
      from
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="fromEventOp()">
      fromPromise
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="concatOp()">
      concat
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="mergeOp()">
      merge
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="startWithOp()">
      startWith
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="timerOp()">
      timer
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="intervalOp()">
      interval
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="delayOp()">
      delay
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="mapOp()">
      map
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="zipOp()">
      zip
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="scanOp()">
      scan
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="tapOp()">
      tap
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="takeOp()">
      take
    </button>
    <button nz-button nzType="primary" class="m-3 w-32" (click)="shareOp()">
      share
    </button>
  </nz-space>
</div>
