<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <a href="https://angular.io/start" target="_blank">
        <img
          src="https://cdn.jsdelivr.net/gh/rick-chou/rick-assets/png/1.png"
          alt="logo"
        />
        <h1>Angular Tutorial App</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="Router" nzIcon="block">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/routing/basic-route">Basic Route</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/routing/nesting-routes">Nesting Routes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/routing/information">Route Information</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/routing/guards">Route Guards</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="HttpClient" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/http">Http Client</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <button
          nz-button
          nzType="primary"
          nzDanger
          (click)="isLoggedIn ? logout() : login()"
        >
          {{ isLoggedIn ? "Logout" : " Login" }}
        </button>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
