/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

#nav {
  padding: 30px;
  width: 60vw;
  margin: auto;

  a {
    font-weight: bold;
    color: #2c3e50;
    display: inline-block;
    margin-bottom: 20px;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

#center-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
